*::selection{
	background-color:#dddddd;

	transition:.5s;
}
*:focus{
	outline:none;
}
*{
	transition:.5s;
	
}
html, body{
	width:100%;
	height:100%;
	min-height:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
	
}

.fa:hover {
  opacity: 0.7;
  width: 35px;
  height: 35px;
  transition:.5s;
}

.fa {
  padding: 20px;
  margin-right:50px;
  margin-left:50px;
  margin-bottom:50px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color:white;
  background-color:#414141;
  
  transition:.5s;
}
#logo{
	
	text-align:-webkit-center;
	width:100%;
}
#logo img{
	margin-top:25px;
	width:25%;
	height:auto;
}
#imgDiv{
	text-align:-webkit-center;
	
}

#imgDiv img{
	margin-top:50px;
	margin-bottom:50px;
	
}

#whoWeAre{
	margin-top:25px;
	/*display: -webkit-inline-box;*/
	width:100%;
	text-align-last: center;
}


#whoWeAre #wwADiv img{
	width:150px;
	border-radius: 150px;
	
	
}
#wwADiv{
	background-color:#ffffff;
	border-radius:150px;
	display: -webkit-inline-box;
	width:90%;
	box-shadow: 20px 18px 20px 4px #0000003d;
}
#wwAFather{
	justify-content:center;
}
#marceloETais, #mediaLinks{
	font-size:16px;
	display:block;
}
.join{
		text-align:-webkit-center;

}

.join button{
	margin-top:15px;
	margin-bottom:15px;
	background-color:#00dd00;
	border:none;
	border-radius:50px;
	color:white;
	width:350px;
	height:50px;
	font-size:20px;
	cursor:pointer;
	
}
.join button:hover{
	margin-top:15px;
	background-color:#00ff00;
	border:none;
	border-radius:50px;
	color:white;
	width:375px;
	height:75px;
	font-size:20px;
	cursor:pointer;
	
	
}
#checks{
	text-align:-webkit-center;
	justify-content: center;
	display: grid;
	width:100%;
}
.gridGray{
	background-color:#e5e5e5;
	width:100%;
	
}
#checks div{
	display: -webkit-inline-box;
	font-family: 'Oswald', sans-serif;
	color:#555555;
	-webkit-box-align: center;
	border-radius:25px;
	padding:5px;
	width:100%;
}
#checks div h1{
	font-size:22px;
	margin-bottom:5px;
}
#checks div img{
	width:35px;
	padding-bottom:5px;
}
#ourWork p{
	width:80%;
	text-align: center;
}
.personDesc{
	display:block;
	text-align: start;
	width: 50%;

}

.personDescInverted{
	display:block;
	text-align: start;
	width: 50%;
}

.personDesc p, .personDescInverted p{
	margin-top: 0;
	margin-left: 10px;
	margin-right:0;
	width: 50%;
}

.personDescInverted p{
	margin-left: auto;
	text-align:end;
	padding-right: 25%;
	width: 80%;
}
.foodDesc .foodName{
	font-size: 35px;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
	text-align:start;
}
.space{
	margin-right:20px;
}
.foodDesc p{
	margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    width: 100%;
}
.personDesc .name, .personDescInverted .nameInverted{
	font-size: 26px;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
	width: 70%;
}
.nameInverted{
	text-align:end;
	margin: 0;
}
.resultsContainer{
	width: 75%;
	-webkit-box-pack: center;
}
#results .resultsContainer, #foods .foodContainer{
	display:-webkit-inline-box;
}
.foodCenter{
	width:80%;
	margin-bottom:15px;
	margin-top:15px;
	
}
.resultsContainer img{
	width: 150px;
	border-radius:50px;
	vertical-align: middle;
}
.foodContainer img{
	width: 175px;
	border-radius:50px;
	vertical-align: middle;
}
#fiveDaysChallenge img{
	width:80%;
	height:auto;
	border-radius:25px;
	margin-top:20px;
	
}
#results, #foods{
	width:100%;
	text-align:-webkit-center;
	font-family: 'Oswald', sans-serif;
	color:#555555;

	margin-top:50px;
}
.last{
	width:100%;
}
.last img{
	width:100%;
}
.resultsCenter{
	display: inline-flex;
	justify-content: center;
	margin-top:15px;
	margin-bottom:15px;
	overflow: hidden;
}
#mediaLinks,#howItWorks,#fiveDaysChallenge,#whatIsTheFiveDaysChallenge{
	width:100%;
	text-align:-webkit-center;
	font-family: 'Oswald', sans-serif;
	color:#555555;
	
}
.grayRC{
	background-color:#e5e5e5;
	border-radius:75px;
	width: 80%;
	text-align: start;
    justify-content: start;
}
.grayFC{
	background-color:#e5e5e5;
	border-radius:50px;
	width: 80%;
	text-align: center;
    justify-content: center;
}
#ourWork p{
	width:100%;
	text-align:start;
	padding-left:5px;
	font-size:25px;
	margin-top:0;
	
}
.bigP{
	font-size: 20px;
    width: 80%;
}
#ourWork img{
	width:175px;
}
#ourWork{
	margin-bottom: 0;
	display: inline-flex;
    text-align: -webkit-center;
    width: 60%;
    place-items: flex-start;
	line-height: 20px;
}
.herbaThings{
	color:#47c233;
}
.morePeopleInfo{
	
	text-align:-webkit-center;
	font-family: 'Oswald', sans-serif;
	color:#555555;
}
.morePeopleInfo h1{
	width:80%;
}
.separator{
	width:100%;
	height:2px;
	background-color:#dddddd;
}
#ending{
	text-align:-webkit-center;
}
#whoWeAre  #wwADiv h1{
		font-family: 'Oswald', sans-serif;
		margin: 5px;
		color:#aaaaaa;
		text-align: start;

		width: 80%;
		text-align-last: center;
	}
	#whoWeAre  #wwADiv p{
		color: #555555;
		font-size: 18px;
		width: 75%;
		margin: 0;
		text-align-last: center;
	}
@media screen and (min-width: 850px){
	#fiveDaysChallenge img{
		width:660px;
		height:auto;
		border-radius:25px;
		margin-top:20px;
	}
	#logo img{
		margin-top:25px;
		width:250px;
		height:auto;
	}
}
h6{
	font-family: 'Oswald', sans-serif;
	color:#555555;
	text-align:-webkit-center;
}

#iWantToJoin{
	width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.6);
	text-align: -webkit-center;
	text-align: center;
	line-height:50;
	display:none;
	transition:.5s;
	
}
#iWantToJoin input{
	border-radius:10px;
	width: 100%;
	height:30px;
	text-align:-webkit-center;
	transition:.5s;
}

#submitBTN:disabled{
	background-color:#aaffaa;
	color:white;
	transition:.5s;
	cursor:not-allowed;
}
#submitBTN{
	margin-top:15px;
	margin-bottom:15px;
	background-color:#00dd00;
	border:none;
	border-radius:50px;
	color:white;
	width:75%;
	height:50%;
	font-size:20px;
	cursor:pointer;
	margin-bottom:50px;
	transition:.5s;
	width: 100%;
}
#iWantToJoin div{
	opacity:1;
	text-align: -webkit-center;
	margin-top: 15%;
	
}
#iWantToJoin div div{
	display: grid;
	grid-template-columns: max-content;
    line-height: 0;
    width: 90%;
	background-color:white;
	border-radius:25px;
	font-family: 'Oswald', sans-serif;
	color:#555555;
	font-size:20px;
	justify-content: center;
}

#iWantToJoin div div p{
	
	text-align:-webkit-center;
	white-space:normal
}
#inputDiv{
	width:80%;
}

@media screen and (min-width: 567px){
	.last img{
		width:541px;
		height:auto;
	}
}

@media screen and (max-width: 650px){
	#whoWeAre{
		margin-bottom:20px;
		
	}
	#marceloETais h1{
		font-size:22px;
		width: 50%;
	}
	#whoWeAre  #wwADiv h1{
		font-size:22px;
		width: 50%;
	}
	#whoWeAre  #wwADiv p{
		margin: 5px;
		color:#555555;
		font-size:20px;
		width: 50%;
	}
		
	.nameInverted{
		width: 80%;
		margin: 0;
	}
}


@media screen and (max-width: 525px){
	.resultsContainer img, .foodContainer img{
		width: 100px;
		border-radius:25px;
	}
	.grayRC{
		background-color:#e5e5e5;
		border-radius:25px;
	}
	
	#ourWork p{
	width: 80%;
	text-align:start;
	padding-left:5px;
	font-size:20px;
	
}
	#ourWork img{
		width:175px;
	}
	#ourWork{
		display: inline-flex;
		text-align:-webkit-center;
		margin-bottom:0;
		width: 80%;
		place-items: flex-start;
	}
	#morePeopleInfo{
	width:100%;
}
	#morePeopleInfo h1{
		width:80%;
		font-size:25px;
	}
	#marceloETais{
		display:block;
		font-size:8px;
		margin-bottom:20px;

	}
	#mediaLinks{
		display:block;
		font-size:12px;
		margin-bottom:20px;
	}
	#whoWeAre{
		margin-bottom:20px;
	}
	#whoWeAre  #wwADiv p{
		margin: 5px;
		color:#555555;
		font-size:15px;
		width: 50%;
		
		
	}
	#mediaLinks{
		width:100%;
	}
	
	
	
	
	.fa:hover {
  opacity: 0.7;
  width:16px;
  height: 16px;
  font-size: 16px;
  transition:.5s;
}

.fa {
  padding: 30px;
  
  margin-right:15px;
  margin-left:15px;
  margin-bottom:50px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color:white;
  background-color:#414141;
  
  transition:.5s;
}
	
	.nameInverted{
		width: 80%;
	}
	
}


